.chart {
    display: inline-block;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    
    &:last-child {
        margin-right: 0;
    }
}

.work-totals-chart,
.work-over-time-chart,
.workers-availability-chart,
.work-process-duration-chart,
.work-average-process-diration-over-time-chart {
    display: inline-block;
    width: 40em;
    height: 20em;
}