<div class="text-center">
    <div class="items-next-to-each-other">
        <div class="item">
            <app-badge [label]="'Cpu Cores'" [value]="mTotalCpuCores"></app-badge>
        </div>
        <div class="item">
            <app-badge [label]="'Total Processes'" [value]="mTotalProcesses"></app-badge>
        </div>
        <div class="item">
            <app-badge [label]="'Total Work Completed'" [value]="mTotalWorkCompleted"></app-badge>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="chart">
        <app-chart class="work-process-duration-chart"
            [type]="mWorkProcessDurationChartData.chartType"
            [data]="mWorkProcessDurationChartData.chartData"
            [options]="mWorkProcessDurationChartData.chartOptions">
        </app-chart>
    </div>
    <div class="chart">
        <app-chart class="work-totals-chart"
            [type]="mWorkTotalsChartData.chartType"
            [data]="mWorkTotalsChartData.chartData"
            [options]="mWorkTotalsChartData.chartOptions">
        </app-chart>
    </div>
    <div class="chart">
        <app-chart class="work-over-time-chart"
            [type]="mWorkOverTimeChartData.chartType"
            [data]="mWorkOverTimeChartData.chartData"
            [options]="mWorkOverTimeChartData.chartOptions">
        </app-chart>
    </div>
    <div class="chart">
        <app-chart class="work-average-process-diration-over-time-chart"
            [type]="mWorkProcessAverageDurationOverTimeChartData.chartType"
            [data]="mWorkProcessAverageDurationOverTimeChartData.chartData"
            [options]="mWorkProcessAverageDurationOverTimeChartData.chartOptions">
        </app-chart>
    </div>
    <div class="chart">
        <app-chart class="workers-availability-chart"
            [type]="mWorkersAvailabilityChartData.chartType"
            [data]="mWorkersAvailabilityChartData.chartData"
            [options]="mWorkersAvailabilityChartData.chartOptions">
        </app-chart>
    </div>
</div>