/* You can add global styles to this file, and also import other style files */
.text-center {
    text-align: center;
}

.items-next-to-each-other {
    display: inline-block;

    > .item {
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.5em;

        &.gap {
            padding: 0.5em;
        }
    }
}