.container {
    position: relative;
    display: inline-block;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    padding: 0.5em;
    border-radius: 0.1em;
    text-align: center;

    .value-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 4em;
        min-width: 4em;
        border-bottom: 0.05em solid black;
        margin-bottom: 0.5em;

        span {
            position: relative;
            display: inline-block;
            font-size: 3em;
        }
    }
}