<div class="container">
    <div class="value-container">
        <span class="value">{{ value | async }}</span>
    </div>
    <div class="label-container">
        <span class="label">{{ label }}</span>
    </div>
</div>