<div class="container">
    <div class="state-container" [ngClass]="{'state-on': (state | async)}">
        <fa-icon [icon]="(state | async) ? faCheck : faSquare"></fa-icon>
    </div>
    <div class="label-container">
        <span class="label">{{ label }}</span>
    </div>
</div>