.container {
    position: relative;
    display: block;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    padding: 0.5em;
    border-radius: 0.1em;

    .state-container {
        display: inline-block;
        margin-right: 0.3em;

        &.state-on {
            color: green;
            font-weight: bold;
        }
    }

    .label-container {
        display: inline-block;
    }

}