<app-connection-status></app-connection-status>
<hr/>
<div class="menu">
    <span class="menu-item" [routerLink]="['/worker']" [routerLinkActive]="'active'">Worker</span>
    <span class="menu-item" [routerLink]="['/server']" [routerLinkActive]="'active'">Server</span>
</div>
<router-outlet></router-outlet>