div.menu {
    padding: 0.5em;

    .menu-item {
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        outline: none;
        font-size: 1.2em;
        margin-right: 0.5em;
        padding: 0.5em;
        cursor: pointer;
        
        &:last-child() {
            margin-right: 0;
        }

        &.active {
            border-bottom: 0.1em solid black;
        }
    }
}