<div class="status-container">
    <div class="status-item">
        <fa-icon class="connection-indicator" [icon]="faCircle" [ngClass]="{green: (conStatus | async)}"></fa-icon>
    </div>
    <div class="status-item fill-parent text-center">
        <div class="spinner" *ngIf="!(conStatus | async)">
            <fa-icon [icon]="faSpinner" [pulse]="true"></fa-icon>
            <span>Connecting...</span>
        </div>
    </div>
    <div class="status-item">
        <span class="worker-id" *ngIf="conId | async as connectionId">{{ connectionId }}</span>
    </div>
</div>