.status-container {
    display: flex;
    flex-direction: row;

    .status-item {
        margin-left: 0.2em;

        &:first-child {
            margin-left: 0;
        }

        &.fill-parent {
            flex-grow: 1;
        }
    }

    .connection-indicator {
        color: red;
    
        &.green {
            color: green;
        }
    }

    .worker-id {
        color: gray;
        font-weight: bolder;
    }
}

.spinner {
    white-space: nowrap;

    span {
        margin-left: 0.2em;
    }
}