<div class="text-center" *ngIf="isLoading">
    <fa-icon [icon]="faSpinner" [pulse]="true"></fa-icon>
</div>
<h3 *ngIf="hasError">There was an error loading stats. Please try again.</h3>
<div *ngIf="!isLoading && !hasError && stats">
    <div>
        <h2>
            Work generation {{ stats.workGenerationStarted ? ('started at ' + stats.workGenerationDuration.startedAt) : 'not started yet'}}
            <button class="start" *ngIf="!stats.workGenerationStarted" (click)="startWorkGeneration()" [disabled]="isStartWorkGenerationInProgress || isStartButtonDisabledUntilNextStats">
                Start...
            </button>
        </h2>
    </div>
    <div class="stats-container">
        <div class="text-center">
            <div class="items-next-to-each-other">
                <div class="item">
                    <app-checkbox-badge [state]="statsViewData.workGenerationStarted" [label]="'Work generation started'"></app-checkbox-badge>
                </div>
                <div class="item">
                    <app-checkbox-badge [state]="statsViewData.workGenerationCompleted" [label]="'Work generation completed'"></app-checkbox-badge>
                </div>
                <div class="item">
                    <app-checkbox-badge [state]="statsViewData.workProcessingStarted" [label]="'Work processing started'"></app-checkbox-badge>
                </div>
                <div class="item">
                    <app-checkbox-badge [state]="statsViewData.workProcessingCompleted" [label]="'Work processing completed'"></app-checkbox-badge>
                </div>
                <div class="item">
                    <app-checkbox-badge [state]="statsViewData.workAllCompleted" [label]="'All work completed'"></app-checkbox-badge>
                </div>
            </div>
        </div>
        <h2>Workers & Work stats</h2>
        <div class="items-next-to-each-other">
            <div class="item">
                <app-badge [value]="statsViewData.totalWorkers" [label]="'Total Workers'"></app-badge>
            </div>
            <div class="item">
                <app-badge [value]="statsViewData.totalProcesses" [label]="'Total Processes'"></app-badge>
            </div>
            <div class="item">
                <app-badge [value]="statsViewData.availableWorkers" [label]="'Available Workers'"></app-badge>
            </div>
            <div class="item">
                <app-badge [value]="statsViewData.availableProcesses" [label]="'Available Processes'"></app-badge>
            </div>
            <div class="item gap"></div>
            <div class="item">
                <app-badge [value]="statsViewData.totalWorkCompleted" [label]="'Work Completed'"></app-badge>
            </div>
            <div class="item">
                <app-badge [value]="statsViewData.totalWorkInProgress" [label]="'Work in Progress'"></app-badge>
            </div>
            <div class="item">
                <app-badge [value]="statsViewData.totalWorkFailed" [label]="'Work Failed'"></app-badge>
            </div>
            <div class="item">
                <app-badge [value]="statsViewData.totalWorkWaitingProcessing" [label]="'Work Waiting Processing'"></app-badge>
            </div>
        </div>
        <div>
            <h2>Durations</h2>
            <div class="items-next-to-each-other">
                <div class="item">
                    <app-badge [value]="statsViewData.workGenerationDuration" [label]="'Work generation'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.workProcessingDuration" [label]="'Work processing'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.worksResultHandlingDuration" [label]="'Result handling'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.workTotalDuration" [label]="'Total work'"></app-badge>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="items-next-to-each-other">
                <div class="item">
                    <app-chart class="chart" [type]="statsViewData.chartWorkGenerationDurationPerWorkCircle.chartType"
                        [data]="statsViewData.chartWorkGenerationDurationPerWorkCircle.chartData"
                        [options]="statsViewData.chartWorkGenerationDurationPerWorkCircle.chartOptions">
                    </app-chart>
                </div>
                <div class="item">
                    <app-chart class="chart" [type]="statsViewData.chartGeneratedWorkFeedDurationPerWorkCircle.chartType"
                        [data]="statsViewData.chartGeneratedWorkFeedDurationPerWorkCircle.chartData"
                        [options]="statsViewData.chartGeneratedWorkFeedDurationPerWorkCircle.chartOptions">
                    </app-chart>
                </div>
                <div class="item">
                    <app-chart class="chart" [type]="statsViewData.chartWorkProcessingDurationPerWorkCircle.chartType"
                        [data]="statsViewData.chartWorkProcessingDurationPerWorkCircle.chartData"
                        [options]="statsViewData.chartWorkProcessingDurationPerWorkCircle.chartOptions">
                    </app-chart>
                </div>
            </div>
        </div>
        <div>
            <h2>Durations as if in sequence</h2>
            <h4>Master</h4>
            <div class="items-next-to-each-other">
                <div class="item">
                    <app-badge [value]="statsViewData.serverDurationTotal" [label]="'Total'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.serverDurationAverage" [label]="'Average'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.serverDurationMin" [label]="'Min'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.serverDurationMax" [label]="'Max'"></app-badge>
                </div>
            </div>
            <h4>Worker</h4>
            <div class="items-next-to-each-other">
                <div class="item">
                    <app-badge [value]="statsViewData.clientDurationTotal" [label]="'Total'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.clientDurationAverage" [label]="'Average'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.clientDurationMin" [label]="'Min'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.clientDurationMax" [label]="'Max'"></app-badge>
                </div>
            </div>
            <div class="text-center">
                <div class="items-next-to-each-other">
                    <div class="item">
                        <app-chart class="chart" [type]="statsViewData.chartIndividualWorkProcessingDurations.chartType"
                            [data]="statsViewData.chartIndividualWorkProcessingDurations.chartData"
                            [options]="statsViewData.chartIndividualWorkProcessingDurations.chartOptions">
                        </app-chart>
                    </div>
                    <div class="item">
                        <app-chart class="chart" [type]="statsViewData.chartWorkTotalsByWorker.chartType"
                            [data]="statsViewData.chartWorkTotalsByWorker.chartData"
                            [options]="statsViewData.chartWorkTotalsByWorker.chartOptions">
                        </app-chart>
                    </div>
                </div>
            </div>
            <h4>Network</h4>
            <div class="items-next-to-each-other">
                <div class="item">
                    <app-badge [value]="statsViewData.networkDurationTotal" [label]="'Total'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.networkDurationAverage" [label]="'Average'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.networkDurationMin" [label]="'Min'"></app-badge>
                </div>
                <div class="item">
                    <app-badge [value]="statsViewData.networkDurationMax" [label]="'Max'"></app-badge>
                </div>
            </div>
            <div class="text-center">
                <div class="items-next-to-each-other">
                    <div class="item">
                        <app-chart class="chart" [type]="statsViewData.chartNetworkTotalsByWorker.chartType"
                            [data]="statsViewData.chartNetworkTotalsByWorker.chartData"
                            [options]="statsViewData.chartNetworkTotalsByWorker.chartOptions">
                        </app-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>